/* Nền mờ blur */
#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url(../img/bg.webp);
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(4px);
}

/* Vùng nội dung */
.content {
    position: relative;
    z-index: 3;
    text-align: center;
}

/* Tiêu đề */
header h2 {
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    text-align: center;
    margin-bottom: 30px;
    color: cyan;
}

header h4 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: chartreuse;
}

/* Nút YES/NO */
#yes, #no {
    position: absolute;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    transition: all 0.3s ease-out;
}

#yes {
    left: 70%;
    top: 40hv;
    background-color: #ff4d4d;
    color: white;
}

#no {
    left: 35%;
    top: 40vh;
    background-color: #17a2b8;
    color: white;
}

/* SweetAlert2 popup */
.swal2-image {
    object-fit: contain;
}

.swal2-title,
.swal2-content {
    color: azure !important;
}

.swal2-popup {
    border-radius: 15px !important;
}

.swal2-backdrop-show {
    background-size: 200px 100px !important;
}

/* ===================== RESPONSIVE ===================== */
@media (max-width: 768px) {
    /* Nút YES/NO */
    #yes, #no {
        position: absolute;
        width: 120px !important;
        font-size: 14px !important;
        padding: 6px 12px;
    }

    #no {
        left: 10% !important;
        top: 100% !important;
        position: absolute;
        transition: all 0.25s ease-in-out;

    }

    #yes {
        left: 60% !important;
        top: 100% !important;
    }

    /* Tiêu đề nhỏ lại */
    header h2 {
        font-family: 'Pacifico', cursive;
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
        margin-Top: 30px;
        color: cyan;
    }

    header h4 {
        font-family: 'Pacifico';
        font-size: 16px !important;
        text-align: center;
        padding: 15px;
    }

    /* Input trong popup */
    input#txtReason {
        font-size: 16px;
        padding: 10px;
        width: 100% !important;
    }

    /* Popup ngắn lại */
    .swal2-popup {
        width: 90% !important;
    }
}

@media (min-width: 769px) {
    #yes, #no {
        width: auto;
    }
}
